<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="MySQL_DB" connectionString="server=127.0.0.1;User Id=;password=;Persist Security Info=True;database=beatenemy;CHARSET=big5" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>